@page "/"
@rendermode InteractiveServer
@using AntDesign.TableModels
@using System.ComponentModel.DataAnnotations
@using Microsoft.EntityFrameworkCore
@using RpcApp.Domain
@using RpcControllerClient.Models
@inject RpcClientContext RpcClientContext;
@inject Notifications notice;


<PageTitle>Home</PageTitle>
<div>
    @if (alert != null)
    {
        @alert
    }
    <div class="table">
        <Tabs OnTabClick="OnTabClick">
            <TabPane Tab="Устройства">
                <DeviceTab @ref="_deviceTab" />
            </TabPane>
            <TabPane Tab="Ученики">
                <PupilsTab @ref="_pupilsTab" HomeComponent="this" Guid="guid" server="server" requestSender="requestSender" />
            </TabPane>
            <TabPane Tab="Посещения" Key="visitings">
                <VisitingsTab @ref="_visitingsTab" />
            </TabPane>
        </Tabs>
    </div>
</div>

@code {
    public string? guid;
    public TablesManager tablesManager = new TablesManager();
    RequestSender requestSender = new RequestSender();
    Server server = new Server();

    private DeviceTab _deviceTab;
    private VisitingsTab _visitingsTab;
    private PupilsTab _pupilsTab;

    #region InitializeData

    private RenderFragment? alert;

    private bool _initialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            _initialized = true;

            alert = null;
            try
            {
                server.RsEventReceived += async (sender, RsEventArgs) =>
                {
                    if (RsEventArgs.NameEvent == "ПРОХОД")
                    {
                        int id = RsEventArgs.IdPerson;
                        var pupil = RpcClientContext.Pupils.FirstOrDefault(p => p.PupilId == id);
                        string fio = $"{pupil.SurnamePupil} {pupil.NamePupil[0]}. {pupil.PatronymicPupil[0]}.";
                        await notice.OnEvent($" {RsEventArgs.NameEvent} ");
                        Visiting newVisiting = new Visiting()
                        {
                            VisitingDateTime = DateTime.Now,
                            Direction = true,
                            DeviceId = RsEventArgs.Device,
                            PupilId = pupil.PupilId
                        };
                        await notice.OnEvent($" {RsEventArgs.NameEvent} \n {fio}");
                        RpcClientContext.Visitings.Add(newVisiting);
                        RpcClientContext.SaveChanges();
                        _visitingsTab._visitingsTable.ReloadData();
                        StateHasChanged();
                    }
                    else
                        await notice.OnEvent($" {RsEventArgs.NameEvent}");

                };

                var serverThread = new Thread(() => server.StartListener());
                serverThread.Start();
                guid = requestSender.SetSubscribe();
                requestSender.SetConfigurationHwSrv(guid);
                tablesManager.SendBaseConfiguration(guid);
                foreach (var pupil in RpcClientContext.Pupils)
                {
                    tablesManager.AddPersonWithPassword(guid, pupil.PupilId, pupil.NamePupil, pupil.SurnamePupil, pupil.PatronymicPupil, pupil.PupilId, 4, 128, pupil.PupilId,
                    3, DateTime.Now.ToString(), pupil.CardValidityPeriod.ToString(), CRC8.HexToByteArray(pupil.CardNumber));
                }
                alert = AlertSuccess();
            }
            catch (Exception e)
            {
                alert = AlertError();
                Console.WriteLine(e);
            }
            finally
            {
                await LoadInitialData();
                StateHasChanged();
            }
        }
    }

    private async Task OnTabClick(string key)
    {
        if (key == "visitings" && _visitingsTab != null)
        {
            await _visitingsTab.LoadVisitingsData();
        }
        if (key == "pupils" && _pupilsTab != null)
        {
            await _pupilsTab.LoadPupilsData();
        }
    }

    private async Task LoadInitialData()
    {
        await _deviceTab.LoadDevicesData();

        StateHasChanged();
    }

    void OnTabChange()
    {
        StateHasChanged();
    }
    #endregion

    #region ShortAndSearchMethods
    public string GetShortName(Pupils pupil)
    {
        if (pupil == null) return "Неизвестно";

        var surname = pupil.SurnamePupil ?? "";
        var nameInitial = pupil.NamePupil?.Length > 0 ? $"{pupil.NamePupil[0]}." : "";
        var patronymicInitial = pupil.PatronymicPupil?.Length > 0 ? $"{pupil.PatronymicPupil[0]}." : "";

        return $"{surname} {nameInitial}{patronymicInitial}";
    }
    #endregion

    RenderFragment AlertError()
    {
        return
        @<Alert Type="AlertType.Error" Closable Message="Ошибка" Description="Ошибка подключения к серверу. Убедитесь, что CoreOrion подключён." ShowIcon="true"></Alert>
        ;
    }
    RenderFragment AlertSuccess()
    {
        return
        @<Alert Type="AlertType.Success" Closable Message="Успех" Description="Вы успешно вошли в приложение" ShowIcon="true"></Alert>
        ;
    }
}
