@page "/"
@rendermode InteractiveServer
@using AntDesign.TableModels
@using System.ComponentModel.DataAnnotations
@using Microsoft.EntityFrameworkCore
@using RpcApp.Domain
@using RpcControllerClient.Models
@inject RpcClientContext RpcClientContext;


<PageTitle>Home</PageTitle>
<div>
    @if (alert != null)
    {
        @alert
    }
    <div class="table">
        <Tabs OnTabClick="OnTabClick">
            <TabPane Tab="Устройства" >
                <DeviceTab @ref="_deviceTab"/>
            </TabPane>
            <TabPane Tab="Ученики">
                <PupilsTab @ref="_pupilsTab" HomeComponent="this" Guid="guid" />
            </TabPane>
            <TabPane Tab="Посещения" Key="visitings">
                <VisitingsTab @ref="_visitingsTab" />
            </TabPane>
        </Tabs>
    </div>
</div>

@code {
    public string? guid;
    public TablesManager tablesManager = new TablesManager();


    private DeviceTab _deviceTab;
    private VisitingsTab _visitingsTab;
    private PupilsTab _pupilsTab;

    #region InitializeData

    private RenderFragment? alert;

    private bool _initialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            _initialized = true;

            alert = null;
            RequestSender requestSender = new RequestSender();
            try
            {
                guid = requestSender.SetSubscribe();
                requestSender.SetConfigurationHwSrv(guid);
                tablesManager.SendBaseConfiguration(guid);
                foreach (var pupil in RpcClientContext.Pupils)
                {
                    tablesManager.AddPersonWithPassword(guid, pupil.PupilsId, pupil.NamePupil, pupil.SurnamePupil, pupil.PatronymicPupil, pupil.PupilsId, 4, 128, pupil.PupilsId,
                        3, DateTime.Now.ToString(), pupil.CardValidityPeriod.ToString(), _pupilsTab.HexToByteArray(pupil.CardNumber));
                }
                alert = AlertSuccess();
            }
            catch (Exception e)
            {
                alert = AlertError();
                Console.WriteLine(e);
            }
            finally
            {
                await LoadInitialData();
                StateHasChanged();
            }
        }
    }

    private async Task OnTabClick(string key)
    {
        if (key == "visitings" && _visitingsTab != null)
        {
            await _visitingsTab.LoadVisitingsData();
        }
        if (key == "pupils" && _pupilsTab != null)
        {
            await _pupilsTab.LoadPupilsData();
        }
    }

    private async Task LoadInitialData()
    {
        await _deviceTab.LoadDevicesData();

        StateHasChanged();
    }

    void OnTabChange()
    {
        StateHasChanged();
    }
    #endregion

    #region ShortAndSearchMethods
    public string GetShortName(Pupils pupil)
    {
        if (pupil == null) return "Неизвестно";

        var surname = pupil.SurnamePupil ?? "";
        var nameInitial = pupil.NamePupil?.Length > 0 ? $"{pupil.NamePupil[0]}." : "";
        var patronymicInitial = pupil.PatronymicPupil?.Length > 0 ? $"{pupil.PatronymicPupil[0]}." : "";

        return $"{surname} {nameInitial}{patronymicInitial}";
    }
    #endregion

    RenderFragment AlertError()
    {
        return
        @<Alert Type="AlertType.Error" Closable Message="Ошибка" Description="Ошибка подключения к серверу. Убедитесь, что CoreOrion подключён." ShowIcon="true"></Alert>
        ;
    }
    RenderFragment AlertSuccess()
    {
        return
        @<Alert Type="AlertType.Success" Closable Message="Успех" Description="Вы успешно вошли в приложение" ShowIcon="true"></Alert>
        ;
    }
}