@page "/"
@rendermode InteractiveServer
@using AntDesign.TableModels
@using System.ComponentModel.DataAnnotations
@using Microsoft.EntityFrameworkCore
@using RpcApp.Domain
@using RpcControllerClient.Models
@inject RpcClientContext RpcClientContext;
@inject Notifications notice;


<PageTitle>Home</PageTitle>
<div>
    @if (alert != null)
    {
        @alert
    }
    <div class="table">
        <Tabs OnTabClick="OnTabClick">
            <TabPane Tab="Устройства">
                <DeviceTab @ref="_deviceTab" />
            </TabPane>
            <TabPane Tab="Ученики">
                <PupilsTab @ref="_pupilsTab" HomeComponent="this" Guid="guid" server="server" requestSender="requestSender" />
            </TabPane>
            <TabPane Tab="Посещения" Key="visitings">
                <VisitingsTab @ref="_visitingsTab" />
            </TabPane>
        </Tabs>
    </div>
</div>

@code {
    public string? guid;
    public TablesManager tablesManager = new TablesManager();
    RequestSender requestSender = new RequestSender();
    Server server = new Server();

    private DeviceTab _deviceTab;
    private VisitingsTab _visitingsTab;
    private PupilsTab _pupilsTab;

    #region InitializeData

    private RenderFragment? alert;

    private bool _initialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            _initialized = true;

            alert = null;
            try
            {
                server.DeviceDataReceived += async (sender, args) =>
                {
                    await InvokeAsync(async () =>
                    {
                        if (args.ComPorts.Count != 0)
                        {
                            foreach (var port in args.ComPorts)
                            {
                                foreach (var controller in port.Controllers)
                                {
                                    foreach (var rele in controller.Relays)
                                    {
                                        if (rele.Id == 0)
                                            break;
                                        var state = false;
                                        if (rele.State == 251 || rele.State == 401)
                                            state = true;
                                        Devices newDevice = new Devices()
                                        {
                                            DeviceId = rele.Id,
                                            DeviceName = $"Турникет {rele.Address}",
                                            DeviceStatus = state
                                        };
                                        var device = RpcClientContext.Devices.FirstOrDefault(d => d.DeviceId == newDevice.DeviceId);
                                        bool exist = RpcClientContext.Devices.Any(d => d.DeviceId == newDevice.DeviceId);
                                        if (!exist)
                                        {
                                            RpcClientContext.Devices.Add(newDevice);
                                            RpcClientContext.SaveChanges();
                                        }
                                        else if (device.DeviceStatus != newDevice.DeviceStatus)
                                        {
                                            device.DeviceStatus = newDevice.DeviceStatus;
                                            RpcClientContext.SaveChanges();
                                            var index = _deviceTab._devicesDataSource.FindIndex(d => d.DeviceId == newDevice.DeviceId);

                                            if (index >= 0)
                                            {
                                                _deviceTab._devicesDataSource[index] = device;
                                            }
                                            _deviceTab._devicesTable.ReloadData();
                                        }
                                    }
                                }
                            }
                        }
                    });
                };

                server.ChangeElementsReceived += async (sender, args) =>
                {
                    await InvokeAsync(async () =>
                    {
                        requestSender.GetDeviceListAsync();
                        _deviceTab._devicesTable.ReloadData();
                    });
                };

                server.RsEventReceived += async (sender, RsEventArgs) =>
                {
                    if (RsEventArgs.NameEvent == "ПОТЕРЯН КОНТАКТ С УСТРОЙСТВОМ")
                    {
                        await InvokeAsync(async () =>
                        {
                            foreach (var device in RpcClientContext.Devices)
                            {
                                device.DeviceStatus = false;
                                RpcClientContext.SaveChanges();
                                var index = _deviceTab._devicesDataSource.FindIndex(d => d.DeviceId == device.DeviceId);
                                if (index >= 0)
                                {
                                    _deviceTab._devicesDataSource[index] = device;
                                }
                            }
                            _deviceTab._devicesTable.ReloadData();
                            await notice.OnEvent($" {RsEventArgs.NameEvent}");
                        });
                    }
                    else if (RsEventArgs.NameEvent == "ПРОХОД")
                    { 
                        await InvokeAsync(async () =>
                        {
                            int id = RsEventArgs.IdPerson;
                            if (id != -1)
                            {
                                var pupil = RpcClientContext.Pupils.FirstOrDefault(p => p.PupilId == id);
                                string fio = $"{pupil.SurnamePupil} {pupil.NamePupil[0]}. {pupil.PatronymicPupil[0]}.";
                                Visiting newVisiting = new Visiting()
                                {
                                    VisitingDateTime = DateTime.Now,
                                    Direction = true,
                                    DeviceId = RsEventArgs.Device,
                                    PupilId = pupil.PupilId
                                };
                                if (_pupilsTab != null)
                                {
                                    if (_pupilsTab._isReadingCard)
                                    {
                                        Console.WriteLine("Считывается карта");
                                    }
                                    else
                                        await notice.OnEvent($" {RsEventArgs.NameEvent} \n {fio}");
                                }
                                else
                                {
                                    await notice.OnEvent($" {RsEventArgs.NameEvent} \n {fio}");
                                }
                                RpcClientContext.Visitings.Add(newVisiting);
                                RpcClientContext.SaveChanges();
                                if (_visitingsTab != null)
                                {
                                    _visitingsTab._visitingsTable.ReloadData();
                                }

                                StateHasChanged();
                            }
                            else
                            {
                                await notice.OnWarning("Попытка прохода");
                            }
                        });
                        
                    }
                    else
                    {
                        await notice.OnEvent($" {RsEventArgs.NameEvent}");
                    }

                };
                server.InitiativeReceived += async (sender, args) =>
                {
                    await notice.OnError("Неизвестный код. Доступ запрещён");
                };

                var serverThread = new Thread(() => server.StartListener());
                serverThread.Start();
                guid = requestSender.SetSubscribe();
                requestSender.SetConfigurationHwSrv(guid);
                requestSender.GetDeviceListAsync();
                tablesManager.SendBaseConfiguration(guid);
                foreach (var pupil in RpcClientContext.Pupils)
                {
                    tablesManager.AddPersonWithPassword(guid, pupil.PupilId, pupil.NamePupil, pupil.SurnamePupil, pupil.PatronymicPupil, pupil.PupilId, 4, 128, pupil.PupilId,
                    3, DateTime.Now.ToString(), pupil.CardValidityPeriod.ToString(), CRC8.HexToByteArray(pupil.CardNumber));
                }
                alert = AlertSuccess();
            }
            catch (Exception e)
            {
                if (guid == null)
                {
                    foreach (var device in RpcClientContext.Devices)
                    {
                        device.DeviceStatus = false;
                        RpcClientContext.SaveChanges();
                        var index = _deviceTab._devicesDataSource.FindIndex(d => d.DeviceId == device.DeviceId);

                        if (index >= 0)
                        {
                            _deviceTab._devicesDataSource[index] = device;
                        }
                    }
                }
                alert = AlertError();
                Console.WriteLine(e);
            }
            finally
            {
                await LoadInitialData();
                _deviceTab._devicesTable.ReloadData();
                StateHasChanged();
            }
        }
    }

    private async Task OnTabClick(string key)
    {
        if (key == "visitings" && _visitingsTab != null)
        {
            await _visitingsTab.LoadVisitingsData();
        }
        if (key == "pupils" && _pupilsTab != null)
        {
            await _pupilsTab.LoadPupilsData();
        }
    }

    private async Task LoadInitialData()
    {
        await _deviceTab.LoadDevicesData();

        StateHasChanged();
    }

    void OnTabChange()
    {
        StateHasChanged();
    }
    #endregion

    #region ShortAndSearchMethods
    public string GetShortName(Pupils pupil)
    {
        if (pupil == null) return "Неизвестно";

        var surname = pupil.SurnamePupil ?? "";
        var nameInitial = pupil.NamePupil?.Length > 0 ? $"{pupil.NamePupil[0]}." : "";
        var patronymicInitial = pupil.PatronymicPupil?.Length > 0 ? $"{pupil.PatronymicPupil[0]}." : "";

        return $"{surname} {nameInitial}{patronymicInitial}";
    }
    #endregion

    RenderFragment AlertError()
    {
        return
        @<Alert Type="AlertType.Error" Closable Message="Ошибка" Description="Ошибка подключения к серверу. Убедитесь, что CoreOrion подключён." ShowIcon="true"></Alert>
        ;
    }
    RenderFragment AlertSuccess()
    {
        return
        @<Alert Type="AlertType.Success" Closable Message="Успех" Description="Вы успешно вошли в приложение" ShowIcon="true"></Alert>
        ;
    }
}